* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(14, 23, 31);
    display: grid;
    grid-template-columns: auto 1fr auto ;
    grid-template-rows: auto auto;    
}

.logo-header{
    grid-row: 1;
    grid-column: 1;
}

#logo {
    display: block;
    position: absolute;
    width: 13rem;
    padding: 0.2rem;
    float: left;
    margin-left: -1rem;
}

#map-dark {
    position: absolute;
    left: 555px;
    display: block;
    margin: auto;
    margin-top: 2.1rem;
    pointer-events: none;
    width: 80em;
    float: right;
    z-index: 0;
    zoom: 1;
}



#map-bright {
    position: fixed;
    left: 639px;
    display: none;
    margin: auto;
    margin-top: 3rem;
    pointer-events: none;
    width: 70em;
    float: right;
}

#grid {

    position: absolute;
    left: 520px;
    display: block;
    margin: auto;
    margin-top: -1rem;
    pointer-events: none;
    width: 90em;
    float: right;
    z-index: 0;
}

.map-grid {
    grid-row: 2;
    grid-column: 3;
}



.div {
    padding: 1em;
    grid-row:1;
    grid-column: 2;
}

.input-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 1em;
    color: #fff;
    background: rgba(6, 95, 122, 0.568);
    background: linear-gradient(90deg,  rgba(15, 26, 151, 0.055)0%, rgba(6, 95, 122, 0.568) 100%);
    width: 100%;
    border-radius: 2rem;
    margin: auto;
    z-index: 3;
}

#airlines,#dep,#arr {
    padding: 0.3vw;
    margin-right: 2rem;
    margin-left: 1rem;
    width: 5vw;
    background: none;
    color: #FFF;
    font-weight: 400;
    border-style: outset;
    border-color:rgb(143, 185, 248);
    border-width: 0.1rem;
    text-align: center;
    font-size: 0.7em;
}


#submit {
    width: 3vw;
    height: 6vh;
    font-size: 2vw;
    color: rgb(162, 253, 109);
    background: none;
    border-style: double;
    border-radius: 20rem;
    border-color:rgb(50, 252, 50);
}

#submit:hover {
    cursor: pointer;
    background-color: rgba(71, 250, 0, 0.199);
    transition-duration: 200ms;
}


#submit:active{
    color:rgb(14, 23, 31);
}

#random {
    width: 3vw;
    height: 6vh;
    font-size: 2vw;
    color: rgb(255, 231, 93);

    background: none;
    border-style: double;
    border-radius: 20rem;
    border-color:rgb(255, 238, 0);
    margin-left: 2em;
}

#random:hover {
    cursor: pointer;
    background-color: rgba(0, 137, 250, 0.199);
    transition-duration: 200ms;
}


#random:active{
    color:rgb(14, 23, 31);
}


.airport-list {
    display: flex;
    padding: 2em;
    grid-row: 2;
    grid-column: 1;
    margin-top: 1em;
    background-color: rgba(6, 95, 122, 0.568);
    width: 17em;
    height: 40em;
    margin-left: 1rem;
    border-radius: 2em;
    font-family: 'Franklin Gothic Medium';
    font-weight: 0;
    z-index: 6;
    grid-row: 2;
    grid-column: 2;


}
.airport-list ul li {
    color: #fff;
    line-height: 2.2em;
    list-style: inside;
    z-index: 6;
}

.tools {
    display: flex;

    grid-row: 2;
    grid-column: 1;
    padding: 0em;
    margin-top: 1em;
    background-color: rgba(22, 147, 185, 0.226);
    width: 5em;
    padding: 1rem;
    height: 10em;
    margin-left: 1vw;
    border-radius: 2em;
    font-family: 'Franklin Gothic Medium';
    font-weight: 0;
    z-index: 6;
}
.tools ul {
    color: #fff;
    line-height: 2.2em;
    list-style: none;
    z-index: 6;
    float: left;
}

.btn{
    color: #fff;
    padding: 0.2rem;
    width: 5rem;
    border-radius: 1rem;
    border-style: ridge;
    background-color: rgba(40, 130, 158, 0.336);
    border-color:rgb(0, 204, 255)
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(0, 204, 255);
    transition-duration: 100ms;
}


#show-tools{
    display: flex;
    justify-content: space-between;
    grid-row: 3;
    flex-direction: row;
    margin-top: -10em;
    grid-column: 3;
    padding: 2em;
    background-color: rgba(22, 147, 185, 0.226);
    width: 40em;
    height: 10em;
    margin-left: 1vw;
    border-radius: 2em;
    font-family: 'Franklin Gothic Medium';
    font-weight: 0;
    z-index: 10;
    margin-right: 2rem;
}
#show-tools ul li {
    color: #fff;
    line-height: 2.2em;
    list-style: none;
    z-index: 6;
}

.main-div-tools{
    text-align: center;
}

#myDiv{
    color:rgb(0, 0, 0);
    background: rgb(162, 253, 109);
}

.dev {
    display: flex;
    grid-row: 1;
    grid-column: 3;
    padding: 2em;
    margin-top: 1em;
    background-color: rgba(151, 176, 184, 0.226);
    width: 20em;
    height: 2em;
    margin-left: 2vw;
    border-radius: 2em;
    font-family: 'Franklin Gothic Medium';
    font-weight: 0;
    justify-content: start;
    
    z-index: 6;
    color: #Fff;
}

.dev .ul-dep  {
    margin-top: -1.3em;
}
.dev .ul-arr  {
    margin-top: -1.3em;
    margin-left: 7rem;
}

#canvas {
    position: absolute;
    margin-left:0;
    pointer-events: none;

    z-index: 1;
    

}


#ESSA {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1238px;
    top: 270px;
    background-color: rgb(0, 204, 255);
    display: inline-block;
    border-radius: 50%;
}

#ESSA:hover {
    background-color: aliceblue;
    cursor: pointer;
}
#EFHK {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1262px;
    top: 264px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    display: inline-block;
}
#EFHK:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#EGKK {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1184px;
    top: 292px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    display: inline-block;
}
#EGKK:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#LIRN {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1236px;
    top: 338px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    display: inline-block;
}
#LIRN:hover {
    background-color: aliceblue;
    cursor: pointer;
}
#EHAM {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1207px;
    top: 292px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    display: inline-block;
}
#EHAM:hover {
    background-color: aliceblue;
    cursor: pointer;
}
#KORD {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 867px;
    top: 328px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    display: inline-block;
}
#KORD:hover {
    background-color: aliceblue;
    cursor: pointer;
}


#KLAX {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 760px;
    top: 360px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    display: inline-block;
}
#KLAX:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#KLAS {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 775px;
    top: 350px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    display: inline-block;
}
#KLAS:hover {
    background-color: aliceblue;
    cursor: pointer;
}
#ENGM {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1220px;
    top: 270px;
    background-color: rgb(0, 204, 255);
    display: inline-block;
    border-radius: 50%;
}
#ENGM:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#ZBAA {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1600px;
    top: 339px;
    background-color: rgb(0, 204, 255);
    display: inline-block;
    border-radius: 50%;
}
#ZBAA:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#OMDB {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1382px;
    top: 395px;
    background-color: rgb(0, 204, 255);
    display: inline-block;
    border-radius: 50%;
}
#OMDB:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#RJTT {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1685px;
    top: 350px;
    background-color: rgb(0, 204, 255);
    display: inline-block;
    border-radius: 50%;
}
#RJTT:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#LFPG {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1190px;
    top: 305px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    display: inline-block;
}
#LFPG:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#VHHH {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1590px;
    top: 400px;
    background-color: rgb(0, 204, 255);
    display: inline-block;
    border-radius: 50%;
}
#VHHH:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#VIDP {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1460px;
    top: 395px;
    background-color: rgb(0, 204, 255);
    display: inline-block;
    border-radius: 50%;
}
#VIDP:hover {
    background-color: aliceblue;
    cursor: pointer;
}