* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(14, 23, 31);
    
}


#map-dark {
    position: absolute;
    left: 555px;
    display: block;
    margin: auto;
    margin-top: 2.1rem;
    pointer-events: none;
    width: 80em;
    float: right;
    z-index: 0;
    zoom: 1;
}



#map-bright {
    position: fixed;
    left: 639px;
    display: none;
    margin: auto;
    margin-top: 3rem;
    pointer-events: none;
    width: 70em;
    float: right;
}

.div {
    padding: 1em;
}

.input-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 1em;
    color: #fff;
    background-color: rgba(6, 95, 122, 0.568);
    width: 80%;
    border-radius: 2rem;
    margin: auto;
    z-index: 3;
}

#airlines,#dep,#arr {
    padding: 0.3vw;
    margin-right: 2rem;
    margin-left: 1rem;
    width: 8vw;
}


#submit {
    width: 3vw;
    height: 6vh;
    font-size: 2vw;
    color: rgb(162, 253, 109);
    background: none;
    border-style: double;
    border-radius: 2em;
    border-color:rgb(50, 252, 50);
}

#submit:hover {
    cursor: pointer;
    background-color: rgba(71, 250, 0, 0.199);
    transition-duration: 200ms;
}


#submit:active{
    color:rgb(14, 23, 31);
}

.airport-list {
    display: flex;
    padding: 2em;
    margin-top: 1em;
    background-color: rgba(6, 95, 122, 0.568);
    width: 17em;
    height: 40em;
    margin-left: 9.6vw;
    border-radius: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    z-index: 6;


}
.airport-list ul li {
    color: #fff;
    line-height: 3em;
    list-style: circle;
    z-index: 6;
}

#canvas {
    position: absolute;
    margin-left:0;
    pointer-events: none;

    z-index: 1;
    

}

#ESSA {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1238px;
    top: 270px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    border-radius: 50%;
}
#EFHK {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1262px;
    top: 264px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

#EGKK {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1184px;
    top: 292px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

#LIRN {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1236px;
    top: 338px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
}
#EHAM {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1207px;
    top: 292px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
}
#KORD {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 867px;
    top: 328px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

#KLAX {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 760px;
    top: 360px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

#KLAS {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 775px;
    top: 350px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

#ENGM {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 1220px;
    top: 270px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    border-radius: 50%;
}